.header {
  height: 100px;
  position: absolute;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-top: 62px;
  padding-right: 121px;
  margin: 0;
}

.navigation-item:not(:first-child) {
  margin-left: 56px;
}

.navigation-item::after {
  content: "";
  width: calc(100% + 4px);
  height: 8px;
  background: #cdbeff;
  display: block;
  transition: 0.3s;
  margin-top: -10px;
  margin-left: -2px;
}

.navigation-item:hover::after {
  content: "";
  margin-top: -30px;
  height: 29px;
  transition: 0.3s;
}

a {
  color: black;
  font-size: 28px;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .navigation {
    justify-content: flex-start;
    padding-top: 24px;
    padding-left: 24px;
    margin: 0;
  }
  .navigation-item:not(:first-child) {
    margin-left: 36px;
  }
  a {
    font-size: 22px;
    font-weight: 600;
  }
}
